body {
    background: rgb(54,47,162);
    background: linear-gradient(90deg, rgba(54,47,162,1) 0%, rgba(80,80,214,1) 46%, rgba(0,212,255,1) 100%);
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}